<div class="container">
	<h2 class="white-color">ADD A NEW JAMJUA DAY ACTIVITY!</h2>
	<h5 class="white-color">Dont be an asshole</h5>

	<%= render 'form' %>

	<%= link_to 'Back', topics_path %>
</div> <!-- /container -->