#countdown { 
	font-family: impact; 
	font-size: 40px;
	color: red;
	border-radius: 20px;
	display: inline-block;
	background: black;
	padding: 20px;
	padding-top: 20px;
}

.color {
	color: #000000;
}

h1 { 
	font-family: impact; 
	font-size: 40px;
	color: red;
	background: black;
	letter-spacing: 10px;
	border-radius: 10px;
	height: 50px;
  width: 500px;
  position: relative;
}

p {
	color: red;
	font-size: 20px;
	font-family: impact;
	letter-spacing: 5px;
}

.moveDown {
	padding-top: 150px;
	float: right;
}

.imageResize {
	width: 30%;
	height: 20%;
}