/**********************
00=LAYOUT
**********************/

h1 { 
	font-family: sans-serif; 
	font-size: 40px;
	border-radius: 10px;
  position: relative;
}

p {
	font-size: 20px;
	font-family: sans-serif;
	letter-spacing: 5px;
}

* {
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/**********************
01=COUNTDOWN
**********************/

#countdown { 
	font-family: "Oswald"; 
	font-size: 25px;
	border-radius: 20px;
	display: inline-block;
	padding-top: 20px;
}

#countdown2 {
	font-family: helvetica; 
	font-size: 10px;
	border-radius: 10px;
	display: inline-block;
}

/**********************
02=MISC
**********************/

.spacing {
	padding-bottom: 40px;
}


.moveDown {
	padding-top: 150px;
	float: right;
}

.imageResize {
	width: 30%;
	height: 20%;
}

.upvote {
	height: 50px;
	width: 50px;
}

.paddingLeft {
	padding-left: 50px;
}

.table-font-color {
	color: #9b59b6;
}

.jammit-style {
	color: #ecf0f1;
}

.count-down-style {
	color: #ecf0f1;
	font-size: 20px;
}

.your-disgusting {
	color: #ecf0f1;
}

.white-color {
	color: #ecf0f1;
}