#countdown { 
	font-family: impact; 
	font-size: 60px;
	border-radius: 20px;
	display: inline-block;
	padding-top: 20px;
}

.color {
	color: #000000;
}

h1 { 
	font-family: impact; 
	font-size: 40px;
	letter-spacing: 10px;
	border-radius: 10px;
  position: relative;
}

p {
	color: red;
	font-size: 20px;
	font-family: impact;
	letter-spacing: 5px;
}

.moveDown {
	padding-top: 150px;
	float: right;
}

.imageResize {
	width: 30%;
	height: 20%;
}

.upvote {
	height: 50px;
	width: 50px;
}